<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/follow-cancel.css">
	<script type="text/javascript" src="/js/login.js"></script>

	<title>Let's Talk</title>
</head>
<body>
	

	<div class="photo1">
		<img src="/img/sure.png" height ="660px" width="700px" />
	</div>

	<div id="surediv">
		<a id="sure" href="/cancel">Yes, I am Sure!</a>
		<a id="notsure" href="/">No, I am not!</a>
	</div>


</body>
</html>
