<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login-signup.css">
	<script type="text/javascript" src="/js/login.js"></script>

	<title>Let's Talk</title>
</head>
<body>
	

	<div class="photo">
		<img src="/img/sure.png" height ="660px" width="700px" />
	</div>

	<div class="login">
	  <div class="form">
	    <form class="login-form">
	      <input type="text" id="username" placeholder="username"/>
	      <input type="password" id="password" placeholder="password"/>
	      <button id="login">Delet account</button>
	      <p class="message">Not sure? <a href="/">Return index</a></p>
	    </form>
	  </div>
	</div>


</body>
</html>
