<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>

    <title>Let's Talk</title>
</head>
<body>
<div class="navi">
    <img src="/img/talk.jpg" height ="80" width="160" />

</div>

<div class="title">
    <p>Hi, <span id="uname">{{.UserName}}</span></p>
    <h>Welcome to Let's Talk</h>
    <div id="login"><a href="/login">Login</a></div>
    <div id="signup"><a href="/signup">Sign-up</a></div>
    <div id="cancel"><a href="/cancel">Cancel account</a></div>
    <div id="logout"><a href="/logout">logout</a></div>
    <p>Today is: {{.Date}}, the time is: {{.Time}}</p>
</div>

<center><div class="blog">
        <div class="yourtalk">
            <form class="talk-form"  action="/talk" method="post">
                <textarea id="mytalk" name="mytalk" placeholder="Talk what do you want but in 100 characters."></textarea>
                <div>
                    <input id="talk" type="submit" value="Talk!"></input>
                </div>
            </form>
        </div>
    </div>

    <h>List of talkings</h>

    <div class="talklists"></div>

</center>




</body>
<foot>
<center><p>Created by Yingxi and Shub, for distributed systems class final project.</p></center>
</foot>
</html>
